@mixin firaSemi() {
	font-family: fira-sans, sans-serif;
	font-weight: 600;
	font-style: normal;
}

@mixin proxima() {
	font-family: proxima-soft,sans-serif; 
	font-weight: 400; 
	font-style: normal
}

@mixin houska() {
	font-family: houschka-rounded, sans-serif;
	font-weight: 600;
	font-style: normal;
}

@mixin aspect-ratio($width, $height) {
	position: relative;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	> .content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}